@page
@model BookParadise.Pages.AboutModel
@{
}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Quem Somos</h1>
        <p class="lead">Bem-vindo à história do BookParadise, onde a paixão pela leitura se encontra com a facilidade das compras online.</p>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Nossa História</h2>
            <p class="card-text">O BookParadise nasceu do amor pela literatura e da busca por uma maneira conveniente de explorar e adquirir novos livros. Fundada em 2020 por um grupo de entusiastas da leitura, a empresa rapidamente se tornou um refúgio para os amantes de livros de todas as idades.</p>
            <p class="card-text">Desde o início, nosso objetivo tem sido proporcionar uma experiência única, conectando leitores a uma vasta coleção de obras de diferentes gêneros e autores renomados.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Missão</h2>
            <p class="card-text">Nossa missão é inspirar e enriquecer vidas por meio da leitura. Queremos ser a ponte entre leitores ávidos e os livros que transformam mentes e corações.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Compromisso com a Qualidade</h2>
            <p class="card-text">No BookParadise, comprometemo-nos a oferecer um serviço excepcional, garantindo a qualidade dos produtos, a segurança nas transações e a satisfação do cliente em cada interação.</p>
        </div>
    </div>

</div>
