@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Política de Privacidade</h1>
        <p class="lead">Última atualização: 01/12/2023</p>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Informações Coletadas</h2>
            <p class="card-text">Coletamos informações pessoais, como nome, endereço de e-mail, endereço postal e detalhes de pagamento, quando você realiza uma compra em nosso site.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Uso de Informações</h2>
            <p class="card-text">Utilizamos as informações coletadas para processar pedidos, fornecer suporte ao cliente, personalizar a experiência do usuário e enviar informações sobre promoções e atualizações, com o consentimento do usuário.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Compartilhamento de Informações</h2>
            <p class="card-text">Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para processar transações ou cumprir requisitos legais.</p>
        </div>
    </div>

</div>
